@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can find source code of this  <a href="https://github.com/Relixxxy/CryptoSystems" target="_blank">project</a>.</p>
</div>
