@model LaboratoryWorkViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <h1 class="text-center">Laboratory Work @Model.Id</h1>
    <h2 class="text-center font-monospace">@Model.Name</h2>
</div>

<div class="row d-flex justify-content-around">
    <div class="col-md-4 col-sm-12">
        <h3>Enter text:</h3>
        <textarea id="inputText" class="w-100 textarea"></textarea>
    </div>
    <div class="col-md-2 col-sm-12 d-flex flex-column justify-content-around">
        <button class="btn btn-primary">Encrypt</button>
        <button class="btn btn-warning">Decrypt</button>
    </div>
    <div class="col-md-4 col-sm-12">
        <h3>Operation result:</h3>
        <textarea id="outputText" class="w-100 textarea" disabled></textarea>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("button.btn-primary").click(function () {
                var inputText = $("#inputText").val();
                $.post("/LabOne/Encrypt", { inputText: inputText }, function (result) {
                    $("#outputText").val(result);
                });
            });

            $("button.btn-warning").click(function () {
                var inputText = $("#inputText").val();
                $.post("/LabOne/Decrypt", { inputText: inputText }, function (result) {
                    $("#outputText").val(result);
                });
            });
        });
    </script>
}